<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
</head>
<body>
    <h1>RESTAURANT</h1>
    <p><b>Chefs Info</b></p>
    <ul>
        {% for chef in chefs %}
        <li>
            {{ chef }}
        </li>
        {% endfor %}
    </ul>

    <p><b>Menu</b> </p>
    <ul>
        {% for cook in menu %}
        <li>
        {%  with cook|lower as cook_lower %}
            <a href="{% url 'restaurant:'|add:cook_lower|add:'_menu' %}">{{ cook }}</a>
        {%  endwith %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>