{% load blog_tags %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/blog.css" %}" rel="stylesheet">

        <style>
            .search-container {
                display: flex;
                margin-top:10px;
            }
            .search-container input[type="text"] {
                width: 80%;
                border: 2px solid #000; /* 테두리 추가 */
                border-radius: 4px; /* 테두리 둥글게 */
            }
            .search-container input[type="submit"] {
                margin-left: 10px;
            }
        </style>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2><a href="{% url 'blog:post_list' %}">My blog</a></h2>
            <p>
                This is my blog.
                I've written {% total_posts %} posts so far.
            </p>
            <p>
                <a href="{% url 'blog:post_feed' %}">Subscribe my RSS feed.</a>
            </p>
            <h3>Latest Posts</h3>
            {% show_latest_posts 3 %}
            <h3>Most Commented Posts</h3>
            {% get_most_commented_posts as most_commented %}
            <ul>
                {% for post in most_commented %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <h2>Search for posts</h2>
            <form method="get" action="{% url 'blog:post_search' %}">
                <div class="search-container">
                    <input type="text" name="query">
                    <input type="submit" value="Search">
                </div>
            </form>
        </div>
    </body>
</html>
